body {
  max-width: 680px;
  width: min-content;
  width: -moz-min-content;
  padding-bottom: 25px;
}
.error {
  color: #f8010e;
  padding: 2px;
  border-radius: 3px;
}

.success {
  padding: 2px;
  color: rgb(0, 202, 78);
  border-radius: 3px;
}

tr:first-child {
  font-weight: bold;
  color: black;
  font-size: 16px;
}
.medication-table tr:first-child {
  text-align: center;
  border-bottom: #348c7f 2px dashed;
}
button {
  border-radius: 50%;
}

.username {
  font-weight: bold;
  position: absolute;
  right: 0;
  padding-right: 12px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.logo {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  padding-bottom: 10px;
  width: 100%;
  filter: drop-shadow(0px 0px #297065) drop-shadow(0px 0px #297065)
    drop-shadow(1px 1px #297065) drop-shadow(-1px -1px #297065);
  text-align: center;
}

.no-med {
  white-space: nowrap;
}

.time {
  text-align: center;
}

td {
  border: none;
  padding-right: 4px;
  padding-left: 4px;
  padding-bottom: 2px;
  padding-top: 2px;
}

td:nth-child(odd) {
  min-width: 350px !important;
  max-width: 350px !important;
}

th:nth-child(even),
td:nth-child(even) {
  min-width: 65px;
  text-align: right;
}

.medication-table tr:not(:first-child):hover {
  background-color: #3ea898;
  cursor: pointer;
  color: black !important;
}
table {
  font-size: 15px;
  color: #348c7f;
  width: 100%;
  border: none;
  border-radius: 20px;
  padding: 0px;
  border-collapse: collapse;
}

.tab-head {
  border-right: none !important;
}
