.search-button {
	border-radius: 74px;
	border: none;
	background: none;
	color: black;
	margin-top: 3px;
}
.interactions-button{
	text-align: left;
	padding-left: 0px;
}
.btn-primary {
	background-color: white !important;
	border-color: white !important;
	color: black;
	z-index: 1001;
}
.btn-add{
	border-radius: 50%;
    margin-right: 6px;
}

.fa-button{
	border: none;
	background: none;
	font-size: 19px;
}

.fa-download{
	font-size: 19px;
	padding-bottom: 10px;
	font-weight: bold;
	padding-bottom: 0px;
}

.fa-plus:hover{
	background-color: #348c7f !important;
}
.fa-button.fa-plus{
	background-color: #3da898;
}
.fa-plus{
	background-color: inherit;
    color: white;
	border-radius: 50%;
	font-size: 25px;
	padding-bottom: 3px;
	padding-top: 3px;
}
.button-no-border{
	border: none;
	background: none;
}

.img-button{
		border: none;
		background: inherit;
}
.button-router{
	background-color: white!important;
	color: #C60925;
	border: 1px solid #3ea898!important;
	border-radius: 0px;
	border-left:none!important;
	z-index: 0!important;
}
.button-router.active{
	border: none!important;
}
.route-buttons{
	flex-wrap: nowrap!important;
    overflow: auto!important;
    width: 100%!important;
}
.link-button{
	text-shadow: 0px 0px #33887b;
background-color: inherit;
border: none;
color:#389486;
padding-left: 0px!important;
}

.btn-storno{
	margin-top: 12px;
    margin-left: 8px;
}

.link-button:hover{
	color:inherit;
}
.button-router:last-child{
	border-bottom-right-radius: 4px!important;
	border-top-right-radius: 4px!important;
}
.button-router:first-child{
	border-bottom-left-radius: 4px!important;
	border-top-left-radius: 4px!important;
	border: 1px solid #3ea898!important;

}
.btn-primary:focus, .active {
	background-color: #3ea898!important;
}

.btn-primary:hover {
	background-color: #348c7f !important;
}

.btn-group-languages{
	padding-bottom:15px;
	text-align: right !important;
	float: right !important;
	width: inherit;
}


.btn-document {
    border: none;
}

.no-border-button{
	border: none;
	background: none;
	color: black;
}

.home-button{
    text-align: center;
    border: 5px solid #3ea898;
	background: white;
	width: 100%;
	height: 100%;
	padding-top: 10px;
	border-radius: 20px;
	}
.home-button:hover{
    border: 5px solid #33887b;
}
.home-button-title{
    padding-bottom: 15px;
}
.small-button{
	width:100%;
	height: 44%;
	padding-top:0px;
}
.home-user-buttons{
	padding-right: 0px!important;
}
.big-button{
	padding-bottom: 40px; 
}

.small-button:nth-child(even){
	margin-top: 10%;
}

.btn-submit{
	margin-top: 12px;
	padding-bottom: 6px;
	background-color: #3ea898!important;
}

.btn-not{
	background-color: rgb(238, 91, 44)!important;
    border: none;
}