main {
  padding-bottom: 94px;
}

html {
  overflow-y: scroll;
}

body {
  font-family: Arial Unicode MS, Arial, sans-serif;
  font-size: small;
  /* Suppose you want minimum width of 1000px */
  width: auto !important;
  padding-bottom: 20px!important;
  /* Firefox will set width as auto */
}
label {
  display: unset;
}
label * {
  font-weight: normal;
}

legend {
  font-size: small;
  margin-bottom: 0px;
  font-weight: bold;
}
table {
  width: auto;
}
#test {
  position: absolute;
  visibility: hidden;
  height: auto;
  width: auto;
  white-space: nowrap; /* Thanks to Herb Caudill comment */
}

.spc-spinn {
  position: absolute !important;
  left: 50% !important;
  top: 50% !important;
}
.spc {
  margin-left: auto !important;
  margin-right: auto !important;
  width: 75%;
  overflow: auto;
  display: block;
}
.x {
  display: grid;
  padding-left: 5px;
  padding-right: 5px;
}
.SimplePDF {
  width: 350px; /* width of pdf document box should be != 0 */
  height: 500px; /* height of pdf document box should be != 0 */
  border: 1px dashed red; /* optional */
  margin: 15px; /* optional */
  padding: 15px; /* optional */
  float: left; /* optional */
}
.positive-list-desc {
  display: inline !important;
}
.form-control {
  font-weight: normal !important;
}

.pil {
  border: 2px solid #33887b;
  padding-left: 10px;
}
.react-pdf__Page {
  border-left: 2px solid #33887b;
  border-right: 2px solid #33887b;
}

.react-pdf__Page {
  border-top: 2px solid #33887b;
}
.react-pdf__Page:last-child {
  border-bottom: 2px solid #33887b;
}

.history-head {
  border-bottom: none !important;
  text-align: left !important;
  padding-bottom: 0px !important;
}

.results-in-table {
  text-align: left !important;
  font-weight: normal !important;
  padding: 2px !important;
  padding-left: 7px !important;
}

.table-container {
  overflow-x: auto;
}
.interaction-title {
  text-align: center;
  font-weight: bolder;
  font-size: 120%;
}
.filter {
  font-size: 100% !important;
}
.interaction-item-title {
  text-align: center;
  word-break: break-all;
  width: fit-content;
  width: -moz-fit-content;
}
.sublist > .active {
  background: white !important;
  width: unset !important;
  display: inline-block;
  margin-right: 2px;
  padding: 2px;
  padding-right: 3px;
  padding-left: 3px;
  margin-bottom: 4px;
  border: 1px solid #33887b !important;
  border-radius: 5px;
  font-size: 94%;
}
.list-with-sublist > *.finding-item {
  width: 100%;
  display: -webkit-inline-box;
}
.finding-list > *.list-with-sublist > *.finding-item {
  padding-bottom: 15px;
}
.list-with-sublist > *.finding-item > *.list-text {
  width: 25%;
  font-size: 107%;
}
.ing-mp-label {
  font-size: 110%;
  width: 25%;
  display: inline-block;
  padding-bottom: 25px;
  font-weight: bold;
}
.ing-mp-label:last-child {
  padding-left: 7.5px;
  width: 75%;
}
.finding-list.list-with-sublist {
  max-height: inherit;
}
.finding-item *.sublist-container {
  width: 75%;
}
.finding-item *.sublist {
  padding-left: 7.5px;
  width: 100% !important;
  padding-right: 22.5px;
}
.finding-list > *.list-with-sublist {
  overflow-y: auto;
  max-height: unset !important;
}
.lists-title-ing {
  width: 25%;
}
.lists-title-mp {
  width: 75%;
}

.interaction-item-title-container {
  width: 45%;
}
.float-right {
  float: right;
}

.no-padding {
  padding-top: 0px;
}

.interaction-description {
  font-weight: 300;
  padding-top: 9px;
}
.interaction-description:nth-child(odd) {
  background-color: rgba(174, 174, 174, 0.04);
}
.critical {
  border: 2px dashed red;
  border-radius: 15px;
  margin-top: 10px;
}

.search-list{
  height: 50%;
}
.critical-desc {
  color: red;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 3px;
  font-size: 20px;
}
.interaction {
  padding-bottom: 15px !important;
  padding-top: 14px;
  width: 100%;
}
.interaction:not(:first-child) {
  border-top: 2px dashed #389486;
}
.source {
  text-align: right;
  margin-left: -20px;
}
a {
  color: #389486;
  text-shadow: 0px 0px #33887b;
  z-index: 1001;
}

.bold {
  font-weight: bold;
  display: inherit;
}

.title {
  font-size: 25px;
  margin-bottom: 0px;
  font-weight: bold;
  color: #c60925;
  padding-left: 15px;
}

.new-line {
  padding: 0px;
  margin: 0px;
  height: 0px;
}

.important-prop > *.basic-label {
  font-weight: bold;
  color: #c60925;
  font-size: 110%;
}

.packaging-prop {
  padding-top: 7px;
}

.desc {
  padding-top: 10px;
  padding-bottom: 10px;
}

.packaging-prop > *.basic-label {
  font-weight: bold;
}

.product-list {
  padding-top: 10px;
}

.drug-row {
  padding-top: 7px;
  padding-bottom: 14px;
  display: block;
}
.blank-rem-td {
  width: 32px;
}

.display-linebreak {
  white-space: pre-line;
}
.no-interactions {
  display: block !important;
  text-align: center;
  font-weight: bold;
  padding-top: 15px;
}

.title-supplement {
  font-size: 14px;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.title-type {
  font-size: 11px;
  padding-left: 15px;
}

.finding-list *.list {
  border: none;
}
.finding-list {
  padding-top: 17px;
}
.not-in-bussines td a {
  color: rgba(136, 136, 136, 0.74) !important;
  text-shadow: none;
}

.not-in-bussines td a:hover {
  text-decoration: underline;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  border: 1px solid #33887b;
}

.finding-list > *.list {
  overflow-y: auto;
  max-height: 200px;
}

.finding-list > *.list:first-child {
  border: none !important;
}

.row {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0px !important;
}

.finding-list *.list-label {
  text-align: center;
  font-weight: bold;
  padding-bottom: 7px;
  font-size: 100%;
  color: black;
}

.general-item {
  display: inline-block;
}

.general-item-table {
  white-space: nowrap;
}

.info-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.list-label {
  color: #c60925;
}

.annotation {
  float: right;
  color: gray;
}

.glyphicon-info-sign {
  color: white;
  background: gray;
  border-radius: 50%;
  border: 1px solid gray;
}

.info-box {
  margin-bottom: 8px;
  width: inherit;
}

.drug-prop-list > *.list {
  height: 474px;
  font-size: 110%;
  overflow: auto;
}

.drug-prop-list > *.list-label {
  padding-bottom: 10px;
  text-align: left;
  font-size: 120%;
}

.list {
  overflow-y: auto;
  border: none;
  height: auto;
}

.normal-text {
  font-size: small;
}

.linked-list {
  padding-top: 10px;
}

.linked-list > *.list {
  white-space: normal !important;
}

.linked-item,
a:hover {
  text-decoration: none;
}

.linked-item {
  margin-right: 2px;
  padding: 2px;
  padding-right: 3px;
  padding-left: 3px;
  margin-bottom: 5px;
  border: 1px solid #33887b !important;
  border-radius: 5px;
  display: inline-block;
}

.linked-list > *.list-label {
  font-size: 110%;
  padding-bottom: 7px;
}

.ingredient-list > *.list {
  white-space: normal !important;
  display: flex;
}

.ingredient,
a:hover {
  text-decoration: none;
}

.ingredient > *.list-text {
  font-weight: bold;
  padding-bottom: 5px;
}

.ingredient {
  padding: 9px;
  border: 2px dashed #04b3963d;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  font-size: larger;
  margin-right: 10px;
  min-width: 168px;
}

.sublist {
  font-size: small;
  text-align: left;
}

.sublist-label {
  font-size: small;
  font-weight: bold;
  text-align: left;
}

.ingredient-list > *.list-label {
  font-size: 110%;
  padding-bottom: 7px;
}

.important-prop {
  padding-top: 10px;
  font-size: 110%;
}

.home-title {
  font-weight: bold;
  font-size: 130%;
  color: #c60925;
}

.welcome {
  font-size: 24px;
}

.table-label {
  color: #c60925;
  font-weight: bold;
  font-size: 110%;
  padding-top: 25px;
}

.table-prop-label {
  font-weight: bold;
  text-align: center;
  border-bottom: 2px solid #33887b;
  background-color: none;
  border-left: none !important;
}

.table-prop-label,
tr {
  background-color: white;
}

.not-found-title {
  font-size: 400%;
}

.not-found {
  text-align: center;
}
.drug-table {
  width: auto;
  min-width: 100%;
}

.drug-table,
.drug-table td {
  table-layout: fixed;
  padding: 10px;
}

.page-spinner {
  position: relative;
  padding-top: 47px;
  left: 50%;
  width: 50%;
}

.drug-table td:not(:first-child) {
  border-left: 2px solid #33887b;
}

.drug-table tr:nth-child(odd) {
  background-color: rgba(179, 179, 179, 0.41);
}

.packaging-table > * td {
  text-align: center;
}

.left {
  text-align: left !important;
}
.filtring-search {
  margin-top: 10px;
}

.not-active a {
  pointer-events: none;
  cursor: default;
  color: black !important;
  text-decoration: none !important;
  text-shadow: none;
}
