.header-row {
  display: table;
}

.logo {
  width: 100%;
  filter: drop-shadow(0px 0px white) drop-shadow(0px 0px white);
  text-align: center;
  padding-bottom: 3px;
}

.logo-row {
  padding-bottom: 10px;
}

.logo-image {
  display: table-cell;
}

.vcenter {
  display: table-cell;
  vertical-align: middle;
  float: none;
}

.container-fluid {
  padding-top: 15px;
  padding-bottom: 10px;
}

.user-icon {
  text-align: center;
}

.username {
  font-size: 14px;
  position: absolute;
  color: white;
  font-weight: bold;
  font-style: normal;
  margin-bottom: -2px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.logged {
  color: rgb(0, 255, 0);
}

.fa {
  font-size: 29px;
  color: white;
  padding-top: 3px;
  text-align: center;
  cursor: pointer;
}
.fa-tablets {
  font-size: 25px;
  padding-left: 2px;
}
.user-box-container {
  height: 100%;
}

.glyphicon-user {
  background-color: black;
  color: white;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  border: 3px solid black;
  text-align: center;
}

.input-group {
  width: 100%;
  border-radius: 74px;
  margin-top: 3px;
  background: white;
}

.header {
  border-bottom: 6px solid #3ea898;
  position: static;
  background-color: #3ea898;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
}

.user-box {
  display: table;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  position: absolute !important;
  background: white;
  word-wrap: break-word;
  border: none;
  overflow: hidden;
  z-index: 1000;
  border: 2px solid #3ea898;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  width: max-content;
  width: -moz-max-content;
  text-align: left;
  font-style: normal;
  margin-top: -6px;
}

.search-bar {
  padding-right: 0px;
}

.user-box-line {
  padding-left: 5px;
  padding-right: 5px;
  width: inherit;
  text-align: left;
  color: black;
  display: block;
}

.user-box-line:hover {
  background-color: #3ea898;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.user-box-link {
  color: black;
  text-decoration: none;
}

.user-box-link:hover {
  color: black;
  text-decoration: none;
}

.user-box-header {
  background-color: #3ea898;
  font-weight: bold;
  border-bottom: 1px solid black;
  text-align: center;
  color: white !important;
  margin-top: -1px;
}

.button-link {
  text-align: left;
  width: 100%;
  background: none !important;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
  cursor: pointer;
}
