.medication-table,
.medication-table td,
.medication-table th,
.medication-table tr,
.medication-table table,
.medication-table tbody,
.medication-table thead {
  border: none;
  border-top: none !important;
  table-layout: fixed;
  width: 100%;
  background-color: inherit;
  margin-bottom: 10px;
}
.medication-table {
  padding-bottom: 7px;
}
.medication-desc {
  padding-bottom: 15px;
  display: inline;
}
.notification-desc {
  display: inline;
  font-weight: bold;
}
.notification-form-wrapper {
  display: inline;
  font-weight: bold;
}

.fa {
  margin-top: 0px !important;
}

.dropped-list {
  padding-left: 16px;
  color: black;
  text-shadow: none;
  padding-bottom: 6px;
  cursor: pointer;
}
.mdc-list {
  font-size: 12px;
  width: 100%;
  padding-bottom: 47px;
  margin-left: -14px;
}
.mdc-list-divider {
  margin-top: 10px;
}
.mdc-list-item {
  width: 100%;
  cursor: pointer;
}
:not(.mdc-list--non-interactive) > .mdc-list-item:after,
:not(.mdc-list--non-interactive) > .mdc-list-item:before {
  background-color: inherit;
}
.list-link a {
  text-decoration: none;
}
.list-link:hover {
  background-color: rgba(189, 189, 189, 0.6);
  border-radius: 20px;
}
.fa-pdf {
  color: #626262;
}
.fa-trash {
  color: rgb(179, 3, 12);
}
.fa-dropdown {
  font-size: small;
  color: gray;
  padding-bottom: 0px;
  text-align: center;
  height: 24px;
  margin-top: -17px;
}
.fa-confirm {
  color: rgb(92, 160, 3);
}
.fa-edit {
  color: rgb(222, 151, 54);
}
.mdc-list-item__meta {
  display: flex;
}
.check-box {
  width: auto;
  margin-left: 10px !important;
  margin-top: 9px !important;
  padding-bottom: 32px !important;
  display: inline;
}
.frequency {
  width: 50%;
  display: inline;
}
td .fa-plus {
  text-align: center;
  color: #389486;
  width: 100%;
}
.double-star {
  font-weight: bold;
  display: inline;
  color: rgb(238, 91, 44);
}
.star {
  font-weight: bold;
  color: red;
  display: inline;
}
.edit td {
  padding: 6px 12px;
}
