/* selector for element and children */

.pIL, .pIL *, .pIL a:hover, .pIL a:visited, .pIL a:active {
  font-family: "Times New Roman", "serif";
  font-size: medium;
  font-style: normal;
  font-weight: normal;
}

.basic-info {
  width: 300px;
}

a:link, a:visited, a:hover, a:active, {
  color: #000;
}

.active-ingredient {
  border-bottom: 1px solid lightgray;
  color: black;
}

.active-ingredient:first-child {
  border-bottom: none;
}

.on-positive-list {
  font-weight: 650;
  color: #19a719;
}

.fa-expand{
  margin-bottom: -3px;
  font-size: 25px;
}

