.react-autosuggest__container {
    width: 99%;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.react-autosuggest__suggestion--highlighted {
    background-color: #3ea898!important;
    cursor: pointer;
}
.react-autosuggest__suggestion--highlighted>*.highlight {
    background-color: #3ea898!important;
}

.do-not-highlight{
    background-color: white!important;
    cursor: default!important;
    width:100%;
}
.highlight{
    padding-left: 7px;
    padding-right: 4px;
}
.search-spinner{
    padding-top: 10px;
    position: relative;
    left: 45%;
    width: 150px;
}

.react-autosuggest__input {
    width: inherit;
    height: 20px;
    border: none;
    margin-top: 3px;
    margin-left: 1px;
    margin-bottom: 3px;
    border-radius: 74px;
    padding-left: 2px;
    outline: none;
}

.react-autosuggest__suggestions-list {
    list-style-type: none;
    padding-left: 0px;
}

.react-autosuggest__suggestion {
    background-color: white !important;
}

.react-autosuggest__suggestions-container {
    position: absolute;
    background: white;
    word-wrap: break-word;
    border: none;
    border-top-right-radius: 5px;
    overflow: hidden;
    z-index: 1000;
    width: calc(max-content+3px);
    max-width: 474px;
    min-width: 171px;
}
.header-row>* .react-autosuggest__suggestions-container {
    margin-top: 5px;
}

.not-empty .react-autosuggest__suggestions-container:empty {
    border: none;
}

.not-empty .react-autosuggest__section-title {
    padding-left: 3px;
    background-color: #3ea898;
    font-weight: bold;
    border-bottom: 1px solid black;
}

.form-control * .react-autosuggest__suggestions-container--open{
    margin-left: -13px!important;
    color: black;
}

.not-empty .react-autosuggest__suggestions-container {
    background: white;
    margin-left: -2px;
    border-top: 2px solid #3ea898!important;

}
.form-control * .react-autosuggest__suggestions-container {
    border-top: none!important;
}
.not-empty .react-autosuggest__suggestions-container--open {
    border: 2px solid #3ea898;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
    border-top: 1px solid #3ea898;

}

.medication-search {
    border: 2px solid #3ea898;
    border-radius: 5%;
    width: 100%;
    height: 100%;
}